@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

body {
  font-family: "Pangolin", cursive;
}

h1 {
  color: blue;
}

.images {
  text-align: center;
  text-transform: capitalize;
  width: 80vw;
  margin: 0 auto 10rem auto;
}

.single-product {
  width: 90vw;
  max-width: 1170px;
  margin: 3rem auto;
}

@media screen and (min-width: 768px) {
  .single-product {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}
